$color_1: #ffffff;
$color_2: #9C978C;
$color_3: #3E4339;
$color_4: #D7CCB9;
$color_5: #5C533F;
$color_6: #B8B560;
$color_7: #9BA06C;
$color_8: #878F57;
$background-color_1: #ffffff;
$background-color_2: #9C978C;
$background-color_3: #3E4339;
$background-color_4: #D7CCB9;
$background-color_5: #5C533F;
$background-color_6: #B8B560;
$background-color_7: #9BA06C;
$background-color_8: #878F57;
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
$background-color_9: #3e433971;
$background-color_10: transparent;