/*main*/


.separator {
	display: flex;
	align-items: center;
	max-width: 90%;
	margin: auto;
	.line {
		height: 1px;
		flex: 1;
		border: 2px dashed $color_6;
	}
	.media-icons {
		padding: 0 2rem;
		display: flex;
		gap: 40px;
		font-size: 30px;
		transition: all ease 0.3s;
		width: auto;
		align-items: center;
		a {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			border: 2px solid $color_6;
			background: $background-color_6;
			text-align: center;
			line-height: 40px;
			color: $color_1;
			font-size: 18px;
			text-decoration: none;
			transition: 0.3s;
		}
	}
}
footer {
	margin-top: auto;
	background: $background-color_7;
	width: 100%;
	.content {
		max-width: 75%;
		margin: auto;
		padding: 60px 0 50px 0px;
		.link-boxes {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.box {
				width: calc(100% / 5 - 10px);
			}
		}
	}
	.bottom-details {
		max-width: 75%;
		margin: auto;
		padding: 50px 0 20px 0;
		.bottom_text {
			margin: auto;
			display: flex;
			justify-content: space-between;
			gap: 10px;
		}
	}
}
.linje-footer {
	.media-icons {
		a {
			&:hover {
				background-color: $background-color_7;
			}
		}
	}
}
.content {
	.link-boxes {
		.box {
			.link_name {
				color: $color_1;
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 10px;
				position: relative;
			}
			li {
				margin: 6px 0;
				list-style: none;
				a {
					color: $color_1;
					font-size: 16px;
					font-weight: 400;
					text-decoration: none;
					transition: all 0.4s ease;
					&:hover {
						color: $color_8;
					}
				}
			}
		}
	}
}
.bottom-details {
	.bottom_text {
		span {
			color: $color_1;
			text-decoration: none;
		}
		a {
			color: $color_1;
			text-decoration: none;
		}
	}
}

@include mx-sm {
    footer .content{
		max-width: 90%;
	  }
  
	  footer .bottom-details{
		max-width: 90%;
	  }
	  
	  footer .content .link-boxes .box{
		width: calc(100% / 2 - 10px);
	  }
}
@include mx-md {
    footer .content{
		max-width: 80%;
	  }
  
	  footer .bottom-details{
		max-width: 80%;
	  }
  
  
	  footer .content .link-boxes .box{
		width: calc(100% / 2 - 10px);
	  }
}
@include mx-lg {
    footer .content{
		max-width: 80%;
	  }
  
	  footer .bottom-details{
		max-width: 80%;
	  }
  
	  footer .content .link-boxes{
		flex-wrap: wrap;
	  }
}
