/*Font & Farver*/
@import '_font.scss';
@use '_color.scss';

/*Header, Footer & Knapper*/
@use '_header.scss';
@use '_footer.scss';
@use '_knapper.scss';

/*Base & Layout*/
@use '_breakpoints.scss';
@use '_base.scss';
@use '_index.scss';
@use '_webudvikling.scss';
@use '_digital-marketing.scss';
@use '_om-os.scss';
@use '_kontakt.scss';

h1 {
    font-size: 92px;
    font-weight: 600;
}
h2 {
    font-size: 32px;
    font-weight: 600;
}
h3 {
    font-size: 22px;
    font-weight:500;
}
p {
    font-size: 18px;
    font-weight:400;
}